body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.select-class {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  border: thin solid #dedede;
  outline: none;
  line-height: 1;

}
.first-option {
  color: gray;
}

input[type="text"] {
  border: thin solid #dedede;
  padding: 0.75rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  outline: none;
  line-height: 1;
}


input[type="submit"] {
  border: thin solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #1C2535;
  width: 100%;
  color: #fff;
  border: transparent;
  font-size: 15px;
  transition-duration: 200ms;

}

input[type="submit"]:hover {
  background-color: #000000;
}

.addButton {
  color: #fff;
  padding: 0.5rem 1rem;
  border: transparent;
  font-size: 15px;
  background-color: #068f16;
  border-radius: 0.25rem;

  min-width: 110px;
  max-width: 40%;
}

.addButton:hover {  
  background-color: #0b5c16;
}

.editButton {
  color: #fff;
  padding: 0.5rem 0.5rem;
  border: transparent;
  font-size: 13px;
  background-color: #2d47a0;
  border-radius: 0.25rem;
  margin-right: 5px;
}

.editButton:hover {  
  background-color: #1d284e;
}

.deleteButton {
  color: #fff;
  padding: 0.5rem 0.5rem;
  border: transparent;
  font-size: 13px;
  background-color: #9c1818;
  border-radius: 0.25rem;
  
}

.deleteButton:hover {  
  background-color: #460909;
}
.container-main {
  padding: 1rem 1rem;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: auto;
}

.container-top {
  display: flex;
  width: 100%;  
}


.input-search {
  border-radius: 12px;
  margin-right: 5px;
  background-color: #cfdae8;

}

.name-container {
  margin-left: 14px;
}

.title-port {
  color: #1C2535;
  gap: 12px;
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.title-port-2 {
  color: #1C2535;
  gap: 12px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-top: 1rem;
}